.container {
  width: 100%;
  
}
.expandable-boxes {
  position: relative;
  width: 1200px;
  
}
.expandable-box {
  width: 45%;
  height: 250px;
  float: left;
  margin: 0 3% 20px 0;
  border: 2px solid #f4f4f4;
  border-radius: 12px;
  border-color: #de6232;
  background-color: #f4f4f4;
  padding: 10px;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.expandable-box.open {
  border-color: #de6232;
  width: 1200px;
  height: 100%;
  margin: 0;
}
.expandable-box.out {
  width: 0;
  height: 0;
  overflow: hidden;
  border: none;
  padding: 0;
  margin: 0;
  opacity: 0;
}

.expandable-box h2{
  font-family: 'Quicksand', sans-serif;
  font-size: 65px;
  font-weight: 800;
  text-align: center;

  margin-bottom: -25px;
  color: #303135;
}
.expandable-box h3{
  font-family: 'NTR', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: -35px;
  color: #303135;
}
.expandable-box h4{
  font-family: 'NTR', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #303135;
}
.expandable-box h6{
  font-family: 'NTR', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #de6232;
  margin-top: -32px;
  -webkit-animation: shake-vertical 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
          animation: shake-vertical 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}


.expandable-box h5{
  font-family: 'NTR', sans-serif;
  font-size: 30px;
  font-weight:800px;
  margin-bottom: -25px;
  color: #303135;
}
.expandable-box p{
  font-family: 'Gudea', sans-serif;
  font-size: 20px;
  text-align: left;
  margin-left: 50px;
  color: #303135;
}

p li{
  list-style: none;
}

p .tools li::before {
  content: "🧰 ";
  margin-right: 5px;
}

p .unipantry li::before{
  content: "🍴 ";
  margin-right: 5px;
}

p .spotidiscover li::before{
  content: "🎵 ";
  margin-right: 5px;
}

p .pocaml li::before{
  content: "🕹️ ";
  margin-right: 5px;
}

p .enjoyment li::before{
  content: "💖 ";
  margin-right: 5px;
}

p .context{
  padding-right: 100px;
}
p a{
  font-family: 'Gudea', sans-serif;
  flex-wrap: wrap;
  font-size: 20px;
  color: #de6232;
  text-decoration: none;
}